* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

::selection {
  /* background-color: #d2ffe4; */
  background-color: #d5f7ba;
  background-color: #bdf9f9;
  /* background-color: #fbfc96; */
}

button {
  border: none;
  background: none;
}

header {
  width: 100%;
  /* background-color: aqua; */
  background-color: #ffffff;
  /*position: fixed;
  top: 0;
  z-index: 1; */
}

#header_wrap {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 230px;
}

h1 {
  color: #000000;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  font-weight: 300;
}

h2 {
  color: #000000;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  font-weight: 300;
}

header span {
  color: #000000;
  font-family: "Outfit", sans-serif;
  font-size: 11px;
  font-weight: 200;
}
#header_right a {
  color: #000000;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  font-weight: 300;
}

#header_left,
#header_right {
  float: left;
}

#header_right {
  float: right;
}

#wrap_center {
  width: 90%;
  margin: 0 auto;
}
   
.icon{
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon_text{
  color: #007AFF;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.icon_text_blue{
  color: #21A0FE;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.role_out_1{
  display: flex;
  gap: 5px;

}

.role_out_1_round{
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #007AFF;
}

.role_out_1_wrap{
  display: flex;
  gap: 8px;
  align-items: center;
}

#icon_1{background-image: url("../img/icon_1.svg");}
#icon_2{background-image: url("../img/icon_2.svg");}
#icon_3{background-image: url("../img/icon_3.svg");}
#icon_4{background-image: url("../img/icon_4.svg");}
#icon_4_purple{background-image: url("../img/icon_4_purple.svg");}
#icon_5{background-image: url("../img/icon_6.svg");}
#icon_7{background-image: url("../img/icon_7.svg");}

#title_text{
  margin-top: 30px;
}


.size_39{
  color: #2C3543;
  font-family: "Outfit", sans-serif;
  font-size: 39px;
  font-weight: 500;
  letter-spacing: -0.3%;
  width: 100%;
  text-align: left;
  line-height: 70px;
  /* background-color: antiquewhite; */
}

.size_25{
  color: #2C3543;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.1%;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  /* background-color: antiquewhite; */
}

.size_19{
  color: #374254;
  opacity: 0.8;
  font-family: "Outfit", sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 30px;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}


#title_upper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title img{
width: 100%;
margin-top: 40px;
border-radius: 24px;
}

#title{

  margin-bottom: 95px;
}

.caption{
  color: #0A0A0A;
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
}


.purple_bar{
  width: 16px;
  height: 2px;
  background-color: #007AFF;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.size_17{
  color: #8F97A3;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-weight: 300;
  /*letter-spacing: -0.005px;*/
  margin-top: 3px;
}


.red{
  color:#FE3E2C;
}


.contents img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.bar2{
  display: block;
  width: 100%;
  height: 1px;
  background-color: #0c2c40;
  opacity: 0.8;
  /* margin-bottom: 60px; */
}


.text_box{
  margin-top: 50px;
  margin-bottom: 70px;
}


#image_4 img{
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}

.accented{
  font-weight: 500;
}

.role_out{
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}


.decoration_bar{
  width: 10px;
  height: 1px;
  background-color: #007AFF;
}


#icon_1{background-image: url("../img/icon_1.svg");}


#number_1{
  background-image: url("../img/number_1.svg");
}

#number_2{
  background-image: url("../img/number_2.svg");
}

#number_3{
  background-image: url("../img/number_3.svg");
}


#number_4{
  background-image: url("../img/number_4.svg");
}

#number_5{
  background-image: url("../img/number_5.svg");
}

#number_6{
  background-image: url("../img/number_6.svg");
}

.p_box{
  width: 100%;
  /* height: 35vh; */
  /* background-color: #B4A9F5; */
}



img{
  width: 100%;
}

.con_wrap{
  /* width: 90%;
  margin: 0 auto; */
  padding: 80px 0;
}


.con_wrap img{
  width: 100%;
}



.role_out_2{
  margin-top: 50px;
}

#designst img{
  width: 80%; 
  margin: 0 auto;
}

#deisngst_img{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #d5f7ba; */
}

@media only screen and (max-width: 999px) {
  .contents_double{
    flex-direction: column;
  }


  #first_row p{
    /* background-color: #21A0FE; */
    height: auto;
  }
  
  #second_row p{
    /* background-color: #21A0FE; */
    height: auto;
  }
  
}